/ArgsCode.class
/BopCode.class
/ByteCode.class
/CallCode.class
/DbgCode.class
/FalsebranchCode.class
/GotoCode.class
/HaltCode.class
/LabelCode.class
/LitCode.class
/LoadCode.class
/PopCode.class
/ReadCode.class
/ReturnCode.class
/StoreCode.class
/WriteCode.class
